---
- name: Install UT4 Server dependencies
  yum:
    name:
      - libXScrnSaver
      - xdg-user-dirs
    state: present

- name: Create a UT4 Server system account
  user:
    name: "{{ user }}"
    comment: UT4 Server System Account
    home: "{{ user_directory }}"
    create_home: yes
    shell: /sbin/nologin
    password: "!"
    system: yes
    state: present

- name: Download UT4 Linux Server
  get_url:
    url: "{{ download_url }}"
    dest: "{{ download_dest }}"
    owner: "{{ user }}"
    group: "{{ user }}"

- name: Unpack the UT4 Linux Server Zip Archive
  unarchive:
    src: "{{ download_dest }}"
    dest: "{{ user_directory }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    creates: "{{ server_directory }}"
    remote_src: yes
  register: unpack_result

- name: Make server binary executable
  file:
    path: "{{ server_directory }}/{{ server_executable }}"
    mode: '0755'
    state: file

- name: Run the server once to initialize configuration
  command:  "timeout 45s runuser -u {{ user }} -- {{ server_executable }} {{ startup_args | join(' ') }}"
  args:
    chdir: "{{ server_directory }}"
    creates: "{{ config_directory }}"

- name: Install ut4-server systemd service file
  template:
    src: templates/ut4-server.service
    dest: /etc/systemd/system/ut4-server.service
    mode: '0644'
  notify: restart ut4-server

- name: Set Rcon password in Engine.ini
  ini_file:
    path: "{{ config_directory }}/Engine.ini"
    section: /Script/UnrealTournament.UTGameEngine
    no_extra_spaces: yes
    option: RconPassword
    value: "{{ rcon_password }}"
  notify: restart ut4-server

- name: Configure server name
  ini_file:
    path: "{{ config_directory }}/Game.ini"
    section: /Script/UnrealTournament.UTGameState
    no_extra_spaces: yes
    option: ServerName
    value: "{{ server_name }}"
  notify: restart ut4-server

- name: Configure server MOTD
  ini_file:
    path: "{{ config_directory }}/Game.ini"
    section: /Script/UnrealTournament.UTGameState
    no_extra_spaces: yes
    option: ServerMOTD
    value: "{{ server_motd }}"
  notify: restart ut4-server

- name: Configure server description
  ini_file:
    path: "{{ config_directory }}/Game.ini"
    section: /Script/UnrealTournament.UTGameState
    no_extra_spaces: yes
    option: ServerDescription
    value: "{{ server_description }}"
  notify: restart ut4-server

- name: Configure max instances
  ini_file:
    path: "{{ config_directory }}/Game.ini"
    section: /Script/UnrealTournament.UTLobbyGameMode
    no_extra_spaces: yes
    option: MaxInstances
    value: "{{ max_instances | string }}"
  notify: restart ut4-server

- name: Enable and start up ut4-server service
  systemd:
    name: ut4-server.service
    enabled: yes
    daemon_reload: yes
    state: started
