[Core.System]
Paths=../../../Engine/Content
Paths=%GAMEDIR%Content
Paths=../../../UnrealTournament/Plugins/SampleGameMode/Content
Paths=../../../UnrealTournament/Plugins/ContentOnly/Content

[/Script/UnrealTournament.UTGameEngine]
bFirstRun=False
RconPassword={{ rcon_password }}
